<% @photos.each do |p| %>
<%= image_tag p.image,:class => "img-responsive" ,:alt => ""%>
	
	<%= p.name %>
	<%= p.details %>


<%= link_to "New", new_photo_path %>



<section class="inner-intro bg-img2 overlay-light parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Video & Audio</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Video & Audio</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <!-- Video and Audio Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <!-- Vimeo Player -->
                <div class="col-md-6 mb-30">
                    <div class="post-media">
                        <iframe class="" href="<%= image_tag p.image,:class => "img-responsive" ,:alt => ""%>" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Youtube Player -->
                <div class="col-md-6 mb-30">
                    <div class="post-media">
                        <iframe src="https://www.youtube.com/embed/S_kXyWhBB10" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Video Player -->
                <div class="col-md-6 mb-30">
                    <div class="post-media">
                        <video class="video" style="width: 100%;" width="" height="" id="player2" preload="auto" poster="media/echo-hereweare.jpg" controls="controls">
                            <!-- MP4 source must come first for iOS -->
                            <source type="video/mp4" src="media/video1.mp4" />
                            <!-- WebM for Firefox 4 and Opera -->
                            <source type="video/webm" src="media/video1.webm" />
                            <!-- OGG for Firefox 3 -->
                            <source type="video/ogg" src="media/video1.ogv" />
                        </video>
                    </div>
                </div>

                <!-- Audio Player -->
                <div class="col-md-6 mb-30">
                    <div class="post-media">
                        <audio class="audio" src="media/track1.mp3" type="audio/mp3" controls="controls"></audio>
                    </div>
                </div>
            </div>
        </section>
        <% end %>