<!DOCTYPE html>
<html>
<head>
  <title>Liaf</title>
  <meta charset="utf-8">
   
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
Signed in as <%= current_user.name %> Not you?
<%= link_to "LOGOUT", destroy_user_session_path,:method => :delete %>
<% end %>
<body class="full-intro background--dark">

<%= yield %>

</body>
</html>
